.navbar {
    width: auto;
    background-color: rgba(140, 120, 120, 0.214);
    top: 0;
    position: fixed;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navLinks1{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin: 0 7px 0 7px;
    transition: 0.3s;
}

.navLinks1:hover {
    border-bottom: 2px solid red;
    color: aliceblue;
    font-size: 16px;
}